<h2><%= @beer_club.name %></h2>


<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<% if @beer_club.members.empty? %>
    <p>
      This beer club has not any members.
    </p>
<% end %>

<% if not @beer_club.members.empty? %>
    <h3>Members:</h3>
    <ul>
      <% @beer_club.members.each do |member| %>
          <li> <%= link_to member.username, member %></li>
      <% end %>
    </ul>
<% end %>

<% if current_user and not current_user.in? @beer_club.members %>
    <h4>join this beer club:</h4>

    <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value: "join the club" %>
    <% end %>
<% end %>

<% if current_user and current_user.in? @beer_club.members %>
    <%= form_for(@membership_ending, method: "delete") do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit class:"btn btn-danger", value:"end the membership"  %>
    <% end %>
<% end %>

<br>

<%= edit_and_destroy_buttons(@beer_club) %>