<h2> <%= @user.username %>
  <% if @user.suspended %>
      <span class="label label-info">account frozen</span>
  <% end %>
</h2>

<p>
  <% if @user.ratings.empty? %>
      You don't have any ratings.
  <% else %>
      has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= round(@user.average_rating) %>
  <% end %>
</p>

<h3>Ratings</h3>

<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </li>
  <% end %>
</ul>

<% if not @user.ratings.empty? %>
    <div class="panel panel-default">
      <div class="panel-body">
        Favorite beer: <%= @user.favorite_beer %>. <br>
        Favorite style: <%= @user.favorite_style %>. <br>
        Favorite brewery: <%= @user.favorite_brewery %>.
      </div>
    </div>
<% end %>

<h3>Beer clubs</h3>

<% if @user.memberships.confirmed.empty? %>
    You are not a member of any beer club
<% else %>
    <h4>member of</h4>
    <ul>
      <% @user.memberships.confirmed.each do |m| %>
          <li>
            <%= link_to m.beer_club, m.beer_club %>
          </li>
      <% end %>
    </ul>
<% end %>

<% if @user.memberships.unconfirmed.empty? %>
    You do not have any unconfirmed memberships.
<% else %>
    <h4>applied membership of</h4>
    <ul>
      <% @user.memberships.unconfirmed.each do |m| %>
          <li>

            <%= link_to m.beer_club, m.beer_club %>
          </li>
      <% end %>
    </ul>
<% end %>

<br><br>

<% if current_user and current_user.admin? %>
    <% if @user.suspended %>
        <%= link_to "reactive account", toggle_suspension_user_path(@user.id), method: :post, class: "btn btn-primary" %>
    <% else %>
        <%= link_to "suspend account", toggle_suspension_user_path(@user.id), method: :post, class: "btn btn-primary" %>
    <% end %>
<% end %>

<br><br>

<% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %> |
    <%= link_to 'Delete', @user, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %> |
<% end %>
<%= link_to 'Back', users_path %>
