<h1>Beer places search</h1>

<p id="notice"><%= notice %></p>

<%= form_tag places_path do %>
    city <%= text_field_tag :city, params[:city] %>
    <%= submit_tag "Search" %>
<% end %>
<br>
<% if @weather %>
    <strong>The current beer weather in searched city</strong><br><br>
    <img src="<%= @weather.icon %>"><br>
    <%= @weather.temp %> Celcius <br><br>
    <strong>wind:</strong> <%= '%.02f' %  @weather.wind %> m/s, direction <%= @weather.wind_dir %>
    <br><br>
<% end %>

<% if @places and @places.empty? %>
    No locations in searched city
<% end %>

<% if @places and not @places.empty? %>
<strong>Places to get your beer</strong>
    <table>
      <thead>
      <% Place.rendered_fields.each do |f| %>
          <td><%= f %></td>
      <% end %>
      </thead>
      <% @places.each do |place| %>
          <tr>
            <% Place.rendered_fields.each do |f| %>

                <% if f==:name %>
                    <td><%= link_to place.send(f), place_path(place.id) %></td>
                <% end %>
                <% if not f==:name %>
                    <td><%= place.send(f) %></td>
                <% end %>
            <% end %>
          </tr>
      <% end %>
    </table>
<% end %>